.about-netoyed-div{
    background-image: url(../../../assets/images/About-netoyed-bg.png);
    padding: 120px;
}
.about-text1{
    color: #212121;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3px;
}
.about-text2{
    color: #D12930;
    font-family: "Libre Baskerville";
    font-size: 65px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
}