<div class="about-netoyed-div d-flex flex-column align-items-center justify-content-center">
    <h1 class="about-heading d-flex gap-2 align-items-center"><span class="about-text1">Mastering end-to-end</span><span class="about-text2">Solutions</span></h1>
    <div class="counter-div">
        <div class="projects-div">
            <span class="count-text">200+</span>
            <span class="count-label ps-3">Projects</span>
        </div>
        <div class="clients">
            <span class="count-text">140+</span>
            <span class="count-label ps-3">Clients</span>
        </div>
        <div class="years">
            <span class="count-text">40+</span>
            <span class="count-label ps-3">Years</span>
        </div>
    </div>
    <div class="cards-div">
        <div class="first-card  card-design overflow-hidden">
            <div class="col-md  hover-slider1"></div>
            <div class="col-md  hover-slider2"></div>
            <div class="col-md  hover-slider3"></div>
            <div class="col-md  hover-slider4"></div>
            <div class="col-md  hover-slider5"></div>
            <div class="logo-text-div position-absolute">
                <div class="col-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none" class="first-card-logo">
                        <mask id="mask0_1594_1778" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="33" height="33">
                          <rect x="0.181641" y="0.10791" width="32" height="32" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1594_1778)">
                          <path d="M2.84766 9.44124V6.77458C2.84766 6.04124 3.10877 5.41347 3.63099 4.89124C4.15321 4.36902 4.78099 4.10791 5.51432 4.10791H26.8477C27.581 4.10791 28.2088 4.36902 28.731 4.89124C29.2532 5.41347 29.5143 6.04124 29.5143 6.77458V9.44124H26.8477V6.77458H5.51432V9.44124H2.84766ZM10.8477 28.1079V25.4412H5.51432C4.78099 25.4412 4.15321 25.1801 3.63099 24.6579C3.10877 24.1357 2.84766 23.5079 2.84766 22.7746V20.1079H5.51432V22.7746H26.8477V20.1079H29.5143V22.7746C29.5143 23.5079 29.2532 24.1357 28.731 24.6579C28.2088 25.1801 27.581 25.4412 26.8477 25.4412H21.5143V28.1079H10.8477ZM6.58099 14.7746L10.0477 11.3079L8.18099 9.44124L2.84766 14.7746L8.18099 20.1079L10.0477 18.2412L6.58099 14.7746ZM25.781 14.7746L22.3143 18.2412L24.181 20.1079L29.5143 14.7746L24.181 9.44124L22.3143 11.3079L25.781 14.7746Z" fill="#1C1B1F"/>
                        </g>
                      </svg>
                </div>
                <div class="col-sm mt-3"><span class="card-heading">UI UX & Development Studio </span></div>
                <div class="col-sm mt-2 d-flex flex-row align-items-center learn-text-div">
                    <span class="learn-text">Learn More</span>
                    <img class="star-slide-in" src="../../../assets/logo/button-star-logo.png" alt="learn-star">
                </div>
                  
                <div class="col-sm d-flex align-items-end justify-content-end">
                    <img src="../../../assets/images/first-about.png" class="first-card-img" alt="first-card-img" >
                </div>
            </div>
        </div>
        <div class="second-card card-design"></div>
        <div class="third-card  card-design"></div>
        <div class="fourth-card card-design"></div>
    </div>
    
</div>
