<div class="hero-section d-flex flex-column align-items-center justify-content-center">
   <div class="main-hero-text-div position-relative">
    <span class="heading d-flex align-items-center gap-3 fade-in1"> <span class="main-heading">Supercharge your</span> <span class="inner-heading ">business</span> </span>
    <img class="position-absolute floating-logo slide-in-left" src="../../../assets/logo/floating-logo.svg" alt="netoyed floating logo">
   </div>
     <div class="key-works-div d-flex flex-row align-items-center gap-3">
        <div class="option1 fade-in2 d-flex flex-row align-items-center gap-3">
            <a><span  class="key-works">UI UX & Development </span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="3.6875" cy="4.13452" r="3.65625" fill="#D12930"/>
                </svg>
        </div>
        <div class="option1 fade-in3 d-flex flex-row align-items-center gap-3">
            <a><span  class="key-works">Cloud & MSP</span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="3.6875" cy="4.13452" r="3.65625" fill="#D12930"/>
                </svg>
        </div>
        <div class="option1 fade-in4 d-flex flex-row align-items-center gap-3">
            <a><span  class="key-works">Network and Security </span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="3.6875" cy="4.13452" r="3.65625" fill="#D12930"/>
                </svg>
        </div>
        <div class="option1 fade-in5 d-flex flex-row align-items-center gap-3">
            <a><span  class="key-works">Creative</span></a>
        </div>
     </div>
     <div class="banner-btn-div fade-in6">
         <button type="button" class="btn banner-button"><span class="banner-btn-text">Let’s make it happpen</span></button>
     </div>
     <!-- <div class="logo-div mt-5 d-flex flex-column align-items-center">
      <div class="logo-div-heading mt-5">
          <span class="key-customer-text">Our Key Customers</span>
      </div>
      <div class="logo-container d-flex flex-row align-items-center mt-3">
        <img src="../../../assets/logo/drdo.png" alt="DRDO">
        <img src="../../../assets/logo/nixi.png" alt="NIXI">
        <img src="../../../assets/logo/NIC.png" alt="NIC">
        <img src="../../../assets/logo/invest-india.png" alt="Invest India">
        <img src="../../../assets/logo/digital-india.png" alt="Digital India">
        <img src="../../../assets/logo/cspi.png" alt="CSPI">
        <img src="../../../assets/logo/harward.png" alt="Harvard">
        <img src="../../../assets/logo/sbi.png" alt="SBI">
        <img src="../../../assets/logo/defenceministry.png" alt="Defence Ministry">
        <img src="../../../assets/logo/dot.png" alt="DOT">
        <img src="../../../assets/logo/vertal.png" alt="Vertal">
     </div>
     </div> -->
 </div>
 